// #top {

// }

#top .container {
  padding: 80px 0;
  align-content: center;
}

#top .splash {
padding: 15px;
position: relative;
border: 20px solid #6495ed;
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
justify-items: center;
}

// #top .info .blue-square {
  
//   width: 500px;
//   height: 500px;
//   position: absolute;
//   z-index: 0;
//   top: -70%;
//   left: -50%;
// }

#top .splash h1 {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  margin-bottom: 2rem;
  z-index: 1;
}

#top .splash p {
  position: relative;
  color: $text-color;
  text-transform: capitalize;
  margin-bottom: 4rem;
  z-index: 1;
}

#top .splash a {
  position: relative;
  font-size: .9rem;
  color: #16171b;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
  z-index: 1;
  letter-spacing: 2px;
  vertical-align: top;
}

#top .splash {
  font-size: 1.5rem;
}

// #top .img {

// }

#top .container .splash .background-img {
  // I dynamically create this background image using inline CSS and
  // pods directly on the page.
  // background: url('img/splash-phone.png');
  // These rules are commented out since I had to use them with
  // the background css image property all in the same place
  // background-position: top center;
  // background-repeat: no-repeat;
  // background-size: cover;
  width: 100%;
  max-width: 500px;
  height: 400px;
  margin: 0 auto;
}

/* Tablets */
@media only screen and (max-width: 960px) {
  #top .container {
    padding: 0 0 80px;
  }
  #top .splash .blue-square {
    display: none;
  }
  #top .splash .background-img {
    height: 100vh;
  }
}

/* Phones */
@media only screen and (max-width: 767px) {
  #top .container {
    padding: 0 0 80px;
  }
  #top .splash .blue-square {
    display: none;
  }
  #top .splash .background-img {
    height: 100vh;
  }
}
