.blogpost {
    width: 60%;
    h1 {
        background: white;
        margin: 0 auto 1rem;
        padding: 5px 15px;
        border-radius: 5px;
        width: auto;
        text-align: center;
    }
    p {
        background: $text-color;
        margin: 0;
        padding: 10px 20px 15px;
        background: rgba(255, 255, 255, .8);
        text-indent: 2rem;
        a {
            color: cornflowerblue;
            text-decoration: underline;
            &:hover {
                color: #89ef89;
            }
        }
    }
    pre.wp-block-code {
        width: 90%;
        margin: 20px auto;
        padding: 20px;
        background: cornflowerblue;
        // overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        font-family: monospace;
        border-radius: 5px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
}